body {
    text-align: center;
    background: #B2E5CF;
    color: #717272;
    font-family: 'Stardos Stencil', cursive;
}
p {
    font-size: 30px;
    color: #8D9391;
}
ul {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}
li {
    display: inline;
    padding: 0px 55px 0px 55px;
}
a {
    color: #8D9391;
}
h1 {
    font-size: 80px;
    font-family: 'Special Elite', cursive;
    margin: 20px 10px 0px 10px;
    padding-top: 250px;
}
.header {
    background-image: url('headerpic.JPG');
    background-size: cover;
    background-color: black;
}