body {
    text-align: center;
    background: #ccffff;
    color: #ccffff;
    font-family: 'Stardos Stencil', cursive;
    padding: 0;
    margin: 0;
}
.nav {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
}
.nav > li {
    display: inline-block;
}
.nav > li > a {
    text-decoration: none;
    color: #8D9391;
}
.nav > li > a:hover {
    color: #ccffff;
}
input {
    margin-bottom: 10px;
}
p {
    font-size: 35px;
    color: #8D9391;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}
ul {
    padding: 5px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}
li {
    display: inline;
    padding: 0px 100px 0px 100px;
}
a {
    color: #8D9391;
}
h1 {
    font-size: 80px;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding-top: 250px;
}
.header {
    background-image: url('headerpic.JPG');
    background-size: cover;
}
.slick-slider-1 {
    width: 600px;
    margin: auto;
}
.slick-slider-2 {
    width: 600px;
    margin: auto;
}
.slick-slider-3 {
    width: 600px;
    margin: auto;
}
.slick-slider-4 {
    width: 600px;
    margin: auto;
}
.slick-image {
    width: 100%;
}
.fa {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 50%;
    float: right;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 5px;
}
.fa-instagram {
    background: #e6005c;
    color: white;

}

