body {
    text-align: center;
    background: #B2E5CF;
    color: #B2E5CF;
    font-family: 'Stardos Stencil', cursive;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 30px;
    color: #8D9391;
    padding-bottom: 0px;
}
p {font-size: 20px;
    color: #8D9391;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}
ul {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}
li {
    display: inline;
    padding: 0px 55px 0px 55px;
}
a {
    color: #8D9391;
}
h1 {
    font-size: 80px;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding-top: 250px;
}
.header {
    background-image: url('headerpic.JPG');
    background-size: cover;
}